body, html {
    font-family: 'Anton' ;
    text-transform: uppercase;
    color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

nav{
    color: blue;
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color:pink;
    font-size: 28px;
}

a{
    text-decoration: none;
    color: white;
    padding: 1%;
    border: 2px white;
}

.container{
   overflow: scroll;
   scroll-snap-type: mandatory; 
   scroll-behavior: smooth;
   height: 100vh;
   scroll-snap-points-y: repeat(100vh);
   scroll-snap-type: y mandatory;
}

h1{
    font-size: 55px;
    color: white;
}

p{
  text-transform: lowercase; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
} 
.section{
    /* position: relative; */
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    /* scroll-snap-stop: always; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.one{
background-color: lightgreen;   
}

.section.two{
    background-color: lightskyblue;   
    }

.section.three{
    background-color: lightcoral;   
    }

.section.four{
    background-color: rgb(161, 228, 152);   
    }    
.section.five{
    background-color: lightseagreen;   
        }    


       